//-
   Created by connorcollins on 2018-01-17.

extends ../core/base

block main_content
  h3.title {{ coin_name }}
  p A cryptocurrency built in Python to allow more people to understand the inner workings of a simple blockchain.