//-
   Created by connorcollins on 2018-01-18.

extends ../core/base

block main_content
  form(method="POST")
    button.button(type="submit") Start Mining

  p.
    Currently mining has no difficulty, so there is no process to start.
    When you click this button the transactions that are pending will be included into the next block, and the chain will continue.
    Eventually this will be made much more difficult and a process will be put in place to automate mining for the network.